#owl-demo .item{
  display: block;
  padding: 54px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.Thumbimage { 
   position: relative; 
}

.Thumbcaption
{
  font-family:Arial, Helvetica, sans-serif;
  color:#FFF;
  text-align:center;
  font-size:10px;
  text-shadow: 1px 1px #000;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  width: 125px;

}
