#carousel {
    position: fixed;
    top: 85%;
    height: 15%;
    width: 100%;
}

.citem {
    float: left;
}

.Thumbimage { 
   position: relative; 
}

.Thumbcaption
{
  font-family:Arial, Helvetica, sans-serif;
  color:#FFF;
  text-align:center;
  font-size:10px;
  text-shadow: 1px 1px #000;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 60px;
  left: 10px;
  right: 10px;
  width: 125px;

}
