<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>vtour</title>


    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/dcdrilldown.css" />
    <link rel="stylesheet" href="static/css/blue.css" />
    <link rel="stylesheet" href="static/css/demo.css" />
  </head>
  <body>
    <div ng-controller="menu" class="blue">
      <ul id="drilldown-2">
        <li>
          <a href="#0">&nbsp; {{menu.text}}</a>
          <ul>
            <li ng-repeat="mi in menu.items">Hello! <ng-include src="static/menuitem.html"></ng-include></li>
          </ul>
        </li>
      </ul>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
  <script src="/static/js/app.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dcdrilldown.1.2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function($){
      $('#drilldown-1').dcDrilldown({
        speed : 'slow',
        saveState : false,
        showCount : false,
        linkType : 'backlink',
        backText: '^ Top Menu',
        defaultText: '^ Top Menu'
      });
      $('#drilldown-2').dcDrilldown({
        speed : 'fast',
        saveState : false,
        showCount : false,
        linkType : 'link'
      });

    });
  </script>
</html>
