.blue .dd-wrapper {background: t; color: black; font: bold 20px Arial, sans-serif; border: 1px solid white;}
.blue .dd-menu {border-top: 1px solid white; background:rgba(0,0,0,0.1);}
.blue .dd-menu a {background:rgba(0,0,0,0.1);text-decoration: none; padding: 10px 10px 10px 15px; display: block; color: white; border-bottom: 1px solid white; border-top: 1px solid black; position: relative;}
.blue .dd-menu ul a {background:rgba(0,0,0,0.1);}
.blue .dd-menu a:hover {background: white; color: black;}
.blue .dd-menu li a .dd-icon {position: absolute;left: 14px; width: 34px; margin-top:auto; height: 0;}
.blue .dd-menu li.dd-parent a.dd-parent-a{}
.blue .dd-menu li.dd-parent a:hover {color: black;}
.blue .dd-menu li.dd-parent a.active .dd-icon {}
.blue .dd-menu li.dd-parent a.active {color: #ccc; background: black }
.blue .dd-header {font: bold 30px Arial, sans-serif;}
.blue .dd-header ul {width: 100%; overflow: hidden; line-height: 0; padding: 5px 10px;}
.blue .dd-header li {display: inline;}
.blue .dd-header li a {text-decoration: none; float: left; display: block; padding: 1px 15px 1px 5px; color: #fff;}
.blue .dd-header li a:hover {color: white; text-decoration: underline;}
.blue .dd-header a.link-back {text-decoration: none; display: block; position:absolute;left: 0; top:0; color: black;}
.blue .dd-header a.link-back:hover {text-decoration: none; color:white; }

.blue .dd-header h3 {clear: both; margin: 0 auto; font-size: 1.1em;}
.blue .dd-header h3 .dd-count {display: none;}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .1);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background:rgba(0,0,0,.8);
  color:white ;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  color:white;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  color:white;
  width: 2px;
  height: 1.5em;
  background: rgba(0,0,0,.5);
  color:white;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}
.modal_close:before{
    color:white;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: white;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    color:white;
    box-sizing: border-box;
  }
}


/* Other
 * =============================== */


.btn {
  cursor: pointer;
  padding: .5em 1em;
  color: white;
  border-radius: 3px;
}
.btn:hover{
    color:black;
}

.btn:hover,
.btn:focus {
}

.btn:active {
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}
p{
    color:white;
    font-size: 20px;
}
h2{
    color:white;
    font-size:30px;'
}

p img {
  max-width: 300px;
  color:white;
  height: 200px;
  float: left;
  margin: 0 1em 1em 0;
}