<a class="list-group-item" ng-href="{{mi.href}}">
  <i class="{{mi.icon}}"></i>
  &nbsp; {{mi.text}}
</a>
<ul>
  <ul ng-hide="!mi.items.length">
    <li ng-repeat="mi in mi.items"> <ng-include src="'static/menuitem.html'"></ng-include></li>
  </ul>

  <!--
  <ul id="drilldown-2">
    <li>
      <a class="list-group-item-menu" href="#">{{menu.text}}</a>
      <ul>
        <li ng-repeat="mi in menu.items"> <ng-include src="'static/menuitem.html'" /></li>
        </ul>
      </li>
    </ul>
    -->
